* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar container */
nav {
  background-color: #2a1204;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  gap: 20px;
  z-index: 1000;
}

/* Navbar list */
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
}

/* Navbar link */
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #935c21;
}

/* Logo di kiri */
.logo {
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
.logo span {
  color:#935c21
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

#hero {
  color: white;
}

#about {
  background-color: #f4f4f4;
}

#services {
  background-color: #ddd;
}

#contact {
  background-color: #bbb;
}

h1, h2 {
  margin-bottom: 20px;
}

p {
  max-width: 600px;
  margin-bottom: 10px;
}
